# macOS
.DS_Store
*.pem

# Node
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts
src/uniwind-types.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
/ios
/android

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# Env
.env
.env.local
.env*.local

# TypeScript
*.tsbuildinfo

# Logs
*.log
